body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

header {
  height: 60px;
  color: white;
  background-color: #3883fa;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-left: 20px;
  font-size: 1.2em;
}

.github {
  padding-right: 10px;
}

.container {
  margin: 20px 0px 15px 15px;
}

.row {
  display: flex;
  justify-content: center;
}

.col-sm-4 {
  width: 33.33%
}

.col-sm-5 {
  width: 41.66%;
  margin: 0 15px;
}

.jsoneditor-component {
  height: 300px;
}

pre {
  margin-top: -20px;
}

.json-pretty pre {
  font-size: 12pt;
  outline: none;
}

.subTitles {
  font-size: 1.1em;
  font-weight: 500;
  margin: 25px 0 10px 0;
}